html { font-size: 1.125em; }

html,
body {
  background: $dashboard-background-color;
  height: 100%;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.Sidebar {
  background-color: $sidebar-background-color;
  box-shadow: 0 7px 12px 6px rgba(80,72,195,0.33);
  left: -15.5rem;
  height: 100%;
  padding: 1.5rem;
  position: absolute;
  transition: 0.25s ease-in-out;
  width: 12rem;
  z-index: 2;
}

.Sidebar.is-open {
  left: 0rem;

}

