.FieldGroup {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.FieldGroup-row {
  flex-direction: row;
  padding-top: 1em;
}

label {
  font-size: 1em;
  padding: 0.5rem 0;
  width: 100%;
}

input[type="email"],
input[type="number"],
input[type="text"],
input[type="password"] {
  background-color: $empty-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: none;
  font-size: 1em;
  line-height: 1.4rem;
  padding: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
  border: $active-border;
  border-radius: $base-border-radius;
  outline: none;
}

