ul {
  padding: 0 0 0 1.5rem;
  li {
    list-style-type: none;
    padding-bottom: 1rem;
  }
}

ul.ListInverted {
  li {
    color: $white;

    &:hover {
      color: $action;
      cursor: pointer;
    }
  }
}
