body {
  font-family: $base-font-family;
  color: $base-font-color;
}

h1 {
  font-size: 2.074em;
  font-weight: 600;
}

h2 {
  font-size: 1.728em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.44em;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

h4 {
  font-size: 0.9em;
  font-weight: 100;
  margin: 0 0 .5rem 0;
  text-transform: uppercase;
}

a {
  color: $blue;
  font-size: 1em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($blue, 7%);
  }
}

a.LinkInverted {
  color: $white;

  &:hover,
  &:focus {
    color: $action;
  }
}

p {
  font-size: 1em;
  margin: 1rem 0 0 0;
}

.u-helperText {
  font-size: 0.75em;
}

.u-fontInverted {
  color: $white;
}

.u-number {
  font-size: 2rem;
}

.u-fontLarge {
  align-self: center;
  border-bottom: 3px solid $red;
  font-size: 3.2em;
  font-weight: 200;
  padding: 0.5rem 1rem;
}

.Logo {
  color: $blue;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

.u-green {
  color: $blue;
}

.u-red {
  color: $red;
}

.u-bold {
  font-weight: 600;
}
