.u-displayInline {
  display: inline-block;
}

.u-displayRight {
  display: flex;
  justify-content: flex-end;
}

.u-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}

.u-column {
  display: flex;
  flex-direction: column;
}

.u-fullWidth {
  width: 100%;
}

.u-marginTop {
  margin-top: 1rem;
}

.u-marginHeader {
  @media #{$large} {
    margin-top: 3rem;
  }
}

.u-marginInline {
  margin: 0 0.5rem;
}

.u-textCenter {
  text-align: center;
}
