//****Color Palette****//
$white: #fff;
$light-gray: #EBEBEB;
$light-gray-darkened: #D9D9D9;

$aqua: #2AC1EF;
$aqua-darkened: #0E95BE;
$blue: #2A5FEF;
$blue-darkened: #0E3DC0;
$blue-dark: #0A2E90;
$blue-darkest: #092777;
$green: #41DAC0;
$green-darkened: #22AD95;
$navy: #1B193D;
$navy-darkened: #030307;
$orange: #FF744C;
$orange-darkened: #FE3900;
$purple: #8E2AEF;
$purple-darkened: #680EC0;
$red: #C43A64;
$red-darkened: #2047B4;
$yellow: #FCB14B;
$yellow-darkened: #F69004;


//****Mapped Colors****//
$action: $blue;
$alert: $red;
$error: $red;
$success: $aqua;
$warning: $orange;

$form-background-color: linear-gradient(135deg, $blue, $aqua);
$dashboard-background-color: linear-gradient(135deg, $purple, $blue);
$sidebar-background-color: rgba($navy, 0.9);
$base-font-family: 'Montserrat', helvetica, sans-serif;
$base-font-color: $navy !default;
$secondary-font-color: #344557;

$active-border: 1px solid $action;
$base-border: 1px solid $light-gray;
$error-border: 1px solid $red;
$base-border-radius: 4px;
$empty-color: $light-gray;
$empty-color-darkened: $light-gray-darkened;

//****Media Queries****//
$mobile-only: "only screen and (max-width: 320px)";
$mobile: "only screen and (min-width: 320px)";
$tablet-only: "only screen and (max-width: 700px)";
$tablet: "only screen and (min-width: 700px)";
$large: "only screen and (min-width: 1080px)";
