<div class="Sidebar Sidebar--right is-open">
  <div class="Sidebar-inner">
    <div class="CloseButton">
      <span></span>
      <span></span>
    </div>
    <div class="FieldGroup">
      <label class="Label u-fontInverted">Make one-time additional payment:</label>
      <div class="u-fontInverted">
        <span class="InputPrefix">$</span>
        <input class="Input--medium js-CalcAmortization js-AdditionalPayment" type="number">
      </div>
    </div>
    <div class="FieldGroup">
      <label class="Label u-fontInverted">Pay extra per month:</label>
      <div class="u-fontInverted">
        <span class="InputPrefix">$</span>
        <input class="Input--medium js-CalcAmortization js-MonthlyAdditionalPayment" type="number">
      </div>
    </div>
    <div class="FieldGroup js-fieldContainer">
      <label class="Label u-fontInverted">Change interest rate:</label>
      <div class="u-fontInverted">
        <span class="InputPrefix"></span>
        <input class="Input--medium js-CalcAmortization js-ChangedInterestRate" type="number" min="0" max="<%= @loans.first.max_interest_rate %>">
        <span class="InputSuffix">%</span>
      </div>
      <span class="u-helperText u-red js-errorMessage"></span>
    </div>
  </div>
</div>
