<div class="Sidebar Sidebar--right is-open">
  <div class="Sidebar-inner">
    <div class="CloseButton">
      <span></span>
      <span></span>
    </div>
    <label class="Label u-fontInverted">Pay extra per month:</label>
    <div class="u-fontInverted">$
      <input class="Input--small js-CalcAmortization js-MonthlyAdditionalPayment" type="number">
    </div>
    <label class="Label u-fontInverted">Change interest rate:</label>
    <div class="u-fontInverted">
      <input class="Input--small js-CalcAmortization js-ChangedInterestRate" type="number" min="0">
      %
    </div>
  </div>
</div>
