<div class="AreaContainer">
  <div class="Area">
    <h3>Add another loan?</h3>
    <p>You've set up your first loan! Well done!</p>
    <p>Have more loans to set up? Keep going! Otherwise, wittle is ready to start helping you manage your debt.</p>
    <div class="Area-footer u-displayRight">
      <%= link_to("I'm all done!", current_user_path, class: "btn btn-inverted") %>
      <%= link_to("Add another loan", new_loan_path, class: "btn") %>
    </div>
  </div>
</div>
