.AreaContainer {
  display: flex;
  flex-direction: row;
  flex: 0 1 100%;
  justify-content: center;
}

.Area {
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

.Area65 {
  flex: auto 1 65%;
  width: 65%
}

.Area25 {
  flex: auto 1 25%;
  width: 25%;
}

.Area-info {
  border: 3px solid $green;
  position: absolute;
  right: 60px;
}
