.Header {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-end);
  background-color: $white;
  border-bottom: $base-border;
  padding: 1em;
}

.Header-logo {
  margin-right: auto;
}
