.Header {
  align-items: center;
  background-color: $white;
  border-bottom: $base-border;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
}

.Header-logo {
  margin-right: auto;
}
