.Sidebar {
  background-color: $sidebar-background-color;
  box-shadow: 0 7px 12px -2px rgba(80,72,195,0.33);
  height: 100%;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.25s ease-in-out;
  z-index: 2;
}

.Sidebar--left {
  left: -15.5rem;
  width: 12rem;
}

.Sidebar--left.is-open {
  left: 0rem;
}

.Sidebar-inner {
  position: relative;
  top: 4rem;
  transition: all 0.5s ease 0s;
}
